
QGLWidget {
}

QMainWindow, QDockWidget {
    color: #101010;
}

QStatusBar {
}

QTextEdit, QLineEdit {
    background: #dfdfdf;
    color: black;
    border-style: outset;
    border-color: #5f5f5f;
    border-width: 2px;
    border-radius: 5px;
}

