
QGLWidget {
    background: #808080;
}

QMainWindow, QDockWidget {
    color: black;
}

QStatusBar {
    background: #afafaf;
}

QTextEdit, QLineEdit {
    background: white;
    color: black;
    border-style: outset;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
}

